.divider {
  height: 1em;
  width: 5px;
  background: var(--color-accent);
}

.spacer {
  width: 100%;
}

.time {
  opacity: 0.5;
  font-family: monospace;
  display: flex;
  gap: 0.2em;

  .is-over-time & {
    color: red;
  }
}
.text {
  @media screen and (max-width: 1500px) {
    display: none;
    visibility: hidden;
  }
}

.image {
  position: relative;
  grid-area: image;
  padding: 1em;
  height: 100%;
  width: 100%;

  &.isGrayscale {
    filter: grayscale(1);
  }

  &.isFlippedHorizontal {
    scale: -1 1;
  }
  &.isFlippedVertical {
    scale: 1 -1;
  }
  &.isFlippedHorizontal.isFlippedVertical {
    scale: -1 -1;
  }

  img {
    position: absolute;
    top: var(--gap);
    top: var(--gap);
    width: calc(100% - 2 * var(--gap));
    height: calc(100% - 2 * var(--gap));
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  }
}

.intermission {
  margin: auto;
}
