*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template:
    'menubar' auto
    'toolbar' auto
    'content' 1fr
    'progress' auto;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      var(--color-background-300) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-background-300) 1px, transparent 1px);
  border: 1px solid var(--color-background-300);

  * {
    user-select: none;
  }
}

.menubar {
  grid-area: menubar;
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  gap: var(--gap);
  background: var(--color-background-300);
  padding: 1em;
  overflow: auto;

  .divider {
    height: 1em;
    width: 5px;
    background: var(--color-accent);
  }

  .spacer {
    width: 100%;
  }

  .time {
    opacity: 0.5;
    font-family: monospace;
    display: flex;
    gap: 0.2em;

    .is-over-time & {
      color: red;
    }
  }
  .text {
    @media screen and (max-width: 1500px) {
      display: none;
      visibility: hidden;
    }
  }
}

.content {
  grid-area: content;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: auto;
}

.image {
  position: relative;
  grid-area: image;
  padding: 1em;
  height: 100%;
  width: 100%;

  .is-grayscale & {
    filter: grayscale(1);
  }

  .is-flipped-horizontal & {
    scale: -1 1;
  }
  .is-flipped-vertical & {
    scale: 1 -1;
  }
  .is-flipped-horizontal.is-flipped-vertical & {
    scale: -1 -1;
  }

  img {
    position: absolute;
    top: var(--gap);
    top: var(--gap);
    width: calc(100% - 2 * var(--gap));
    height: calc(100% - 2 * var(--gap));
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  }
}

.progress-bar {
  padding: var(--gap);
  padding-top: 0;
  grid-area: progress;
}
